@charset "utf-8";

body{
	font-family:"UD デジタル 教科書体 NK-B";
	line-height:1.5;
}

*{
	margin:0;
	padding:0;
}

img{
	border:none;
}

a{
	text-decoration:none;
}

li{
	list-style-type:none;
}

#wrapper{
	width:1366px;
	margin:0 auto;
	height:650px;
	background-color:#ffffcc;
}

header{
	width:1366px;
	height:203px;
	background-image:url("../image/flag.svg");
}

#logo{
	height:260px;
	display:flex;
	justify-content: center;
	align-items:center;
}



nav{
	width:1010px;
	height:226px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}

.icon:hover{
	opacity:0.6;
}

nav a{

}



h2{
	width:591px;
	height:87px;
	text-align:center;
	margin:60px auto;
}

footer{
	width:1366px;
	height:0px;
	background-color:#ffffcc;
}

