@charset "utf-8";
/* CSS Document */
.contact {
	background: #f2f2f2;
	width: 85%;
}
	
h2>span {
	border-bottom: 3px solid #000;
}
.contact input[type="text"], [type="tel"], [type="email"] {
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}
.contact input[type="submit"]:hover {
	background: #003;
	color: #fff;
}
.contact textarea {
	padding: 10px;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
}

body{
	 margin: 0 auto;
   overflow-x: hidden;
   overflow-y: auto;
   font-size: 1.5vw;
   position: relative;
	 font-family: "Yu Mincho";
	 background-color: #f2f2f2;
	 }
	 
h1{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	}
	
h1 img{
	width: 18vw;
	}
	
h2{
	clear: both;
	}
	
ul li{
	list-style-type: none;
	}
	
a {
	text-decoration: none;
	}

header input[type="checkbox"]{
	display: none;
	}
	
/*モバイル版ナビ消去*/
nav{
	display: none;
	}
	
/*ビジュアル設定*/
#visual{
	height: 40vw;
	}
	
#visual img{
	width: 100vw;
	}
	
#mo{
	display: none;
	}
	
/*ナビ*/	
#pcnav{
	float: left;
	width: 15vw;
	height: 48vw;
	background-color: #212438;
	position: sticky;
  top: 0;
	}
	
#pcnav ul{
	padding-left: 1vw;
	
	}
	
#pcnav ul li{
	margin-bottom: 1.5vw;
	}
	
.lit{
	margin-left: 2vw;
	font-size: 1vw;
	}
	
#pcnav a{
	color: #fff;
	}

/*ナビより下設定*/
#item3{
	height: 65vw;
	}
#wrapper{
	width: 84%;
	float: right;
	}
	
ul #menu{
	padding-left: 0;
	}
	
/*限定商品*/
.first{
	position: relative;
	left: -2vw;
	top: -2vw;
	float: right;
	}

#limit{
	margin-left: 1.5vw;
	}

#limit figure{
	float: left;
	width: 14vw;
	margin-left: 0vw;
	margin-right: 1vw;
	}
	
#limit figure img{
	width: 14vw;
	}
	
/*通常商品*/
#item{
	margin-left: 1.5vw;
	}

#item label{
	display: none;
	}
#item p{
	margin-bottom: 0;
	}
	
#item input[type=radio]{
	display: none;
	}
	
#item figure{
	width: 14vw;
	float: left;
	margin-left: 0;
	margin-right: 1vw;
	}
	
#item figure img{
	width: 14vw;
	}
	
section{
	height: 23vw;
	}
	
/*お知らせ*/
#news{
	margin-left: 1.5vw;
	}

#news ul li{
	margin-bottom: 2vw;
	margin-left: -2.8vw;
	}
	
.staff p{
	text-align: center;
	}
/*アクセス*/
#access{
	color: #fff;
	margin-left: -1vw;
	}
	
.access{
	background-color: #212438;
	float: left;
	width: 42.5vw;
	height: 31vw;
	}
	
.access p{
	margin-left: 1.5vw;
	font-size: 2.5vw;
	}
	
.access ul li{
	margin-bottom: 1.5vw;
	margin-left: -1vw;
	}
	
.map{
	background-color: #212438;
	float: left;
	width: 41vw;
	height: 31vw;
	}
	
iframe{
	width: 32vw;
	height: 24vw;
	margin-top: 3vw;
	margin-left: 5vw;
	}
	
.contact{
	margin-left: 1.5vw;
	}